<div class="wrapper">
  <div class="main"></div>
</div>
<script>$(BigWander.initialize);</script>
<script>
$(function() {
  BigWander.currentUserId = <%= current_user.try(:id) || 0 %>
  if (BigWander.currentUserId != 0) {
    BigWander.currentUser = new BigWander.Models.User({
      id: BigWander.currentUserId
    });
    BigWander.currentUser.fetch();
  };
  // TODO: not sure if this is a good idea to put this here
  $(".search-form").on("submit", function(event) {
    event.preventDefault();
    var query = $(event.currentTarget).find(".search-query").val();
    Backbone.history.navigate("/search/" + query, {trigger: true});
  })
})
</script>
