<div class="container">
  <div class="sign-in-wrapper">
    <div class="flash-wrapper">
      <% if flash[:errors] %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= flash[:errors].join("<br>").html_safe %>
      </div>
      <% end %>
    </div>
      <h1>Log In</h1>
    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>Username<br>
        <input name="user[username]" type="text"><br>
      </label><br>
      <label>Password<br>
        <input name="user[password]" type="password"><br>
      </label><br>
      <input type="submit" value="Submit" class="btn btn-primary"><br>
      <input type="submit" value="Demo User Log In" class="btn btn-primary"><br>
    </form>
  </div>
</div>
