/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
   margin: 0;
   border: 0;
   padding: 0;
   font-family: 'Roboto';
   text-decoration: none;
 }

 html, body {
   height: 100%;
   background: #f9f9f9;
 }

 /* header starts */
 header {
   height: 100px;
   width: 100%;
   z-index: 5;
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px;
   opacity: 0.8;
   filter: alpha(opacity=80);
 }

 header a, header a:hover, header a:active,
 header a:visited, header a:focus {
   color: #fff;
   text-decoration: none;
 }

 header h1 {
   color: #fff;
   margin: 0;
   padding: 5px 5px 5px 20px;
   font-size: 38px;
   text-shadow: 1px 1px 2px #212121;
 }

 header h1 a{
   font-family: 'Patua One';
 }

 header .col-md-1, header .col-md-2, header .col-md-3  {
   height: 60px;
   padding: 5px;
 }

.header-title {
  background: #6200EA;
}

.random-button, .sign-out, .my-gallery, .sign-up, .log-in {
  font-size: 18px;
  background: #651FFF;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}

.random-button {
  font-size: 18px;
}

.search-form-wrapper {
  position: absolute;
  right: 0;
  bottom: 20px;
}
.search-query {
  position: absolute;
  left: 0;
  width: 80%;
  border: 3px solid #6200EA;
  height: 38px;
  padding: 5px;
}

.search-button {
  position: absolute;
  right: 0;
  width: 20%;
  height: 38px;
  color: #fff;
  background-color: #6200EA;
}

 /* header ends */

 .wrapper {
   min-height: 100%;
 }


/* street view panorama show starts */

#full-panorama {
  position: fixed !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.information {
  position: fixed;
  color: white;
  font-size: 16px;
  padding: 0px;
  top: 75px;
  z-index: 5;
  background: #7C4DFF;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.address {
  float: left;
  max-width: 450px;
  padding: 5px 0px 5px 20px ;
}

a.show-form, a.close-form {
  float: right;
  padding: 5px;
  background-color: #B388FF;
  weight: 700;
  color: white;
  text-decoration: none;
}

.save-pano-form-wrapper{
  float: left;
  padding: 5px 0px 5px 20px ;
}

.pano-form input, .pano-form select {
  color: #212121;
  height: 32px;
}

.pano-form select {
  width: 140px;
}

input.title-input {
  padding: 5px;
  width: 300px;
}

input.tag-input {
  margin: 10px 0 5px 5px;
  padding: 5px;
  width: 400px;
}

input.pano-item-save-button {
  position: absolute;
  padding: 5px;
  background-color: #6200EA;
  right: 0px;
  bottom: 0px;
  color: #fff;
}

/* street view panorama show ends */

/* user show starts */

.user-show-title {
  padding-left: 30px;
  float: left;
}

.new-gallery {
  margin: 10px 0 0 10px;
  display: inline;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #121212;
  color: #fff;
}

.new-gallery-form-wrapper {
  position: fixed;
  left: 200px;
  background-color: #fff;
  box-shadow: 0px 2px 5px #9E9E9E;
}

.gallery-form {
  height: 80px;
}

.gallery-form .title-input {
  float: left;
  height: 32px;
  padding: 5px;
}

.gallery-form .desc-input {
  float: left;
  height: 32px;
  padding: 5px;
}

.gallery-form .submit-button {
  float: right;
}

.new-gallery-form-wrapper input,
.new-gallery-form-wrapper textarea {
  margin: 10px;
}

.gallery-index-item {
  float: left;
  padding: 20px;
  padding-bottom: 0px;
  margin: 10px;
  width: 600px;
  background: #fff;
  box-shadow: 0px 2px 5px #9E9E9E;
  border-radius: 2px;
}

.gallery-index-item img {
  left: -20px;
  position: relative;
}

.gallery-item-title {
  font-size: 22px;
}

.gallery-item-title a {
  color: #6200EA;
}

.gallery-item-buttons {
  float: right;
  font-size: 18px;
}

.gallery-item-buttons a {
  text-decoration: none;
  color: #121212;
  margin-left: 10px;
}

.pano-items-index {
  list-style: none;
  margin: 0;
}

.pano-index-item-title {
  color: #fff;
  font-size: 28px;
  position: relative;
  top: 70px;
  left: 25px;
  z-index: 5;
  text-shadow: 1px 1px 3px #424242;
}

.view-all-wrapper {
  width: 600px;
  height: 50px;
  left: -20px;
  padding: 0px;
  position: relative;
  text-align: center;
  font-size: 18px;
}

.view-all-wrapper a{
  display: block;
  width: 100%;
  line-height: 50px;
  text-align: middle;
  text-decoration: none;
  color: #121212;
}

.view-all-wrapper a:hover {
  background: #B388FF;
  color: #fff;
}

.view-all-wrapper a:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

/* user show ends */


.buttons {
  position: fixed;
}

.container {
  position: absolute;
  top: 120px;
  width: 100%;
}
.wrapper {
}

.input-error {
  background-color: orange;
}

.large-panorama {
  // how big this should be?
}

.medium-panorama {
  width: 800px;
  height: 400px;
}

.galleries-search-result {
  float: left;
  display: block;
  width: 500px;
}

.pano-items-search-result {
  float: left;
  display: block;
}
