<div class="container">
  <div class="gallery-show-wrapper">
    <h3><%= gallery.escape("title") %></h3>
    <h5><%= gallery.escape("description") %></h5>
    <div class="pano-items-index clearfix">
      <% if (gallery.panoItems().length === 0) { %>
        No Items
      <% }; %>
    </div>
  </div>
</div>
