<input type="text" name="gallery[title]"
  placeholder="Gallery title" class="title-input" />
  <textarea name="gallery[description]"
  placeholder="Add desription if you'd like"/>
  </textarea>
<input type="submit" value = "Create!" />
<a href="javascript:void(0)" class="close-gallery-form">close</a>
