<h5 class="gallery-item-title">
  <a href="<%= '/galleries/' + gallery.id %>">
    <%= gallery.escape("title") %>
  </a>
</h5>
<%= gallery.escape("description") %>
<% if (BigWander.currentUser && BigWander.currentUser.id === this.model.get("owner_id")) { %>
  <div class="gallery-item-buttons">
    <a href="javascript:void(0)" class="edit-gallery">
      <span class="glyphicon glyphicon-edit"></span>
    </a>
    <a href="javascript:void(0)" class="delete-gallery">
      <span class="glyphicon glyphicon-trash"></span>
      </a>
  </div>
  <div class="modal fade gallery-form-modal edit-gallery-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <% }; %>
<ul class="pano-items-index">
</ul>
<% if (gallery.panoItems().length > 2) { %>
  <div class="view-all-wrapper">
    <a href="<%= '/galleries/' + gallery.id %>">View all</a>
  </div>
<% }; %>
