<div class="information col-md-5 menu-to-hide
  <% if (BigWander.menuClose) { %>
    hidden-menu
  <% } %>">
    <span class="address">You are now in <span></span></span>
    <a href="javascript:void(0)" class="show-form">Save this view</a>
    <div class="save-pano-form-wrapper"></div>
    <div class="world-map-view"></div>
  </div>

  <div id="half-full-panorama"></div>
  <div class="root-gallery">
    <h2>Popular Street Views</h2>
    <div class="pano-items-index">
    </div>
  </div>
