<div class="pano-index-item-title">
  <%= panoItem.escape("title") %>
</div>
<a href="javascipt:void(0)" class="root-pano-item-anchor"
  data-id="<%= panoItem.id %>">
  <img src="<%= panoItem.getSmallImageUrl() %>" />
</a>
