Choose Gallery:
<select id="" name="pano_item[gallery_id]">
  <% BigWander.currentUser.galleries().each(function (gallery) { %>
    <option value="<%= gallery.id %>"><%= gallery.escape("title") %></option>
  <% }); %>
</select>
<input type="text" name="pano_item[title]"
  placeholder="Name your street view" class="title-input" />
<input type="submit" value = "Save" />
<a href="javascript:void(0)" class="close-save-form">close</a>
