  <div class="information col-md-5">
    <span class="address">You are now in </span>
    <a href="javascript:void(0)" class="show-form">Save this view</a>
    <div class="save-pano-form-wrapper"></div>
  </div>
<div id="full-panorama"></div>
