<div class="modal fade gallery-form-modal" id="new-gallery-modal"
tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
</div>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ooops!</h4>
      </div>
      <div class="modal-body">
        You need to be signed in to save this view!
      </div>
      <div class="modal-footer">
        <a href="../../../../users/new" class="btn btn-default">Sign up</a>
        <a href="../../../../session/new" class="btn btn-primary">Log In</a>
      </div>
    </div>
  </div>
</div>
  <div class="information col-md-5 menu-to-hide
  <% if (BigWander.menuClose) { %>
    hidden-menu
  <% } %>">
    <span class="address">You are now in </span>
    <a href="javascript:void(0)" class="show-form">Save this view</a>
    <div class="save-pano-form-wrapper"></div>
    <div class="world-map-view"></div>
  </div>
  <div id="full-panorama"></div>
