<div class="container">
  <h3><%= user.escape("username") %> 's Galleries</h3>
  <% if (BigWander.currentUser && BigWander.currentUser.id === user.id) { %>
    <button class="btn new-gallery">+ New Gallery!</button>
    <div class="new-gallery-form-wrapper"></div>
  <% }; %>
  <div class="galleries-index">
    <% if (user.galleries().length === 0) { %>
      No Galleries
    <% }; %>
  </div>
</div>
